@charset "UTF-8";

.dashboard-container span {
    color: var(--gray-color);
}
		/* 5. 정보 목록 스타일 */
        .user-info-list {
       	    display: flex;
		    gap: 30px;
		    align-items: center;
        }
        .info-list {
            display: flex;
            flex-direction: column;
            gap: 0.75rem;
        }
        .info-f-list {
        	margin-left: 2.5rem; 
        }
        .info-s-list {
            display: flex;
            flex-direction: column;
            gap: 1.75rem;
        }       
        .info-t-list {
            display: flex;
            flex-direction: column;
            gap: 1.75rem;
            margin-left: 2.5rem;
        }
        .user-name {
            display: flex;
    		justify-content: center;
    		font-weight: 600;
        }        
        .info-item {
            display: flex;
            justify-content: space-between;
            padding-bottom: 0.5rem;
            border-bottom: 1px dashed #f3f4f6;
            font-size: 0.95rem;
        }      
        .user-info-item {
            display: flex;
            justify-content: space-between;
            padding-bottom: 0.5rem;
            border-bottom: 1px dashed #f3f4f6;
            font-size: 0.95rem;
            gap: 200px;
        }
        .info-label {
            color: var(--color-gray);
            font-weight: 500;
            flex-shrink: 0; /* 라벨이 줄어들지 않도록 */
        }
        .info-value {
            color: var(--color-text-dark);
            font-weight: 600;
            text-align: right;
        }
        
        .info-dept-address {
        	display: flex;
            justify-content: space-between;
            gap: 20px;
        }
        
        /* 프로필 이미지 수정 버튼  */
        .my-profile-image {
        	width: 200px;
        	height: 200px;
        	border-radius: 50%;
        } 
        
        .profile-edit-form {
        	display: flex;
			gap: 7px;
    		justify-content: center;
        }
        
        .file-input {
        	display: none;        	
        }
        
        .edit-label {
            background-color: var(--primary-color);
        	padding: 4px 8px;
        	border-radius: 6px;
        }
        
        .profile-edit-btn{
        	background-color: var(--white-color);
        	color: var(--primary-color);
        	padding: 4px 8px;
        	border-radius: 6px;
        	border: 2px solid var(--primary-color);
        	font-size: 14px;
        }
        
        .btn-label {
        	font-size: 14px;
        	color: var(--white-color) !important;
        }
        