@charset "UTF-8";

/* 정보 섹션 전체를 감싸는 컨테이너 */
.applicant-info-section {
    margin-bottom: 2.5rem; /* 40px, 아래 결재 정보와의 간격 */
}

/* '신청자 정보' 제목 스타일 */
.applicant-section-title {
    font-size: 1.5rem;
    font-weight: 500;
    color: #333;
    padding-bottom: 0.75rem;
    margin-bottom: 1rem;
}

.applicant-info-list {
	display: flex;
    gap: 300px;
}

/* dt, dd 목록 스타일 */
.applicant-info-f-list {
    font-size: 18px;
    display: grid;
    grid-template-columns: 1fr; 
    gap: 1rem 2rem; 
}

/* 데스크탑 화면 (768px 이상) 에서 2단으로 변경 */
@media (min-width: 768px) {
    .applicant-info-f-list {
        grid-template-columns: 180px 1fr; 
        gap: 20px;
        margin-left: 2.5rem;
    }
}

.applicant-info-f-list dt {
    font-weight: 600;
    color: #64748b; 
}

.applicant-info-f-list dd {
    color: #334155; 
    margin: 0; 
}

/* dt, dd 목록 스타일 */
.applicant-info-s-list {
    font-size: 18px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem 2rem; 
}

/* 데스크탑 화면 (768px 이상) 에서 2단으로 변경 */
@media (min-width: 768px) {
    .applicant-info-s-list {
        grid-template-columns: 180px 1fr;
        gap: 20px;
        margin-left: 2.5rem;
    }
}

.applicant-info-s-list dt {
    font-weight: 600;
    color: #64748b; 
}

.applicant-info-s-list dd {
    color: #334155; 
    margin: 0;
}




/* SweetAlert input 너비 조절 */
.custom-swal-input {
    width: 80% !important;     /* 너비를 80%로 줄임 (원하는 값으로 조절) */
    margin: 2em auto 0 !important; /* 상단 여백(1.5em), 좌우(auto), 하단(0) */
}

/* 커스텀 토스트 알림 크기 조절 */
.custom-swal-toast {
    width: 280px !important;
    font-size: 0.9em !important;
}

.custom-swal-title-approved {
    margin-top: -0.5em !important; 
}