@charset "UTF-8";

/* 색상 지정  */
:root {
	--primary-color: #1c4587;
	--primary-hover: #163668;
	--background-color: #f5f7fa;
	--white-color: #ffffff;
	--red-color: crimson;
	--red-hover: #dc2626;
	--border-white: #e5e7eb;
	--dark-color: #18181b;
    --gray-color: gray; 
    --gray-color-light: #f4f4f5;
    --green-color: #10b981;
    --yellow-color: #f59e0b;
    --purple-color: #6366f1;
    --blue-color: #3b82f6;
	
	--card-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
	--border-radius: 12px;
}

a {
	text-decoration: none;
}

li {
	list-style-type: none;
}

/* 전체 body 스타일  */
body {
	background-color: var(--background-color);
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* 홈 화면 레이아웃 */
.app-layout {
	display: flex;
}

.main-content {
	width: 100vw;
	padding-inline: 40px; /* 메인 콘텐츠 패딩 */
	padding-bottom: 40px;
}

/* 버튼 컴포넌트 */
.main-button {
	width: 100%;
	padding: 10px 15px;
	background-color: var(--primary-color);
	color: #fff;
	font-size: 1.1rem;
	font-weight: 500;
	border: none;
	border-radius: 8px;
	cursor: pointer;
	transition: background-color 0.3s;
	
	&:hover {
		background-color: var(--primary-hover);
	}
}

.cancel-button {
	width: 70px;
	background-color: var(--red-color); /* 빨강 */
	color: var(--white-color);
	border: none;
	padding: 6px 12px;
	border-radius: 6px;
	font-size: 1.1rem;
	font-weight: 500;
	cursor: pointer;
	transition: background-color 0.3s;
 	 
 	&:hover {
 		background-color: var(--red-hover);
 	}
}

.detail-button {
	padding: 7px 14px;
	background-color: var(--primary-color);
	color: #fff;
	border-radius: 6px;
	cursor: pointer;
	text-align: center;
	transition: background-color 0.3s;
	
	&:hover {
		background-color: var(--primary-hover);
	}
}

.add-button {
	padding: 8px;
	background-color: var(--primary-color);
	color: #fff;
	font-size: 16px;
	font-weight: 600;
	border: none;
	border-radius: 8px;
	cursor: pointer;
	transition: background-color 0.3s;
	
	&:hover {
		background-color: var(--primary-hover);
	}	
}

/* 상태 뱃지 스타일 (필요한 부분만 유지) */
.status-badge {
    display: inline-flex;
    align-items: center;
    padding: 4px 10px;
    border-radius: 9999px;
    font-weight: bold;
    font-size: 15px;
    color: var(--white-color);
}

/* 상태별 색상 */
.status-approved { background-color: var(--green-color); }
.status-waited  { background-color: var(--gray-color); }
.status-rejected {background-color: var(--red-color);}
.status-used {background-color: var(--blue-color);}