@charset "UTF-8";

/* 색상 지정  */
:root {
	--primary-color: #1c4587;
	--primary-hover: #163668;
	--background-color: #f5f7fa;
	--white-color: #ffffff;
	--red-color: crimson;
	--red-hover: #dc2626;
	--border-white: #e5e7eb;
	--dark-color: #18181b;
    --gray-color: gray; 
    --gray-color-light: #f4f4f5;
    --green-color: #10b981;
    --yellow-color: #f59e0b;
    --purple-color: #6366f1;
    --blue-color: #3b82f6;
    --red-light: #FEE2E2;
    --green-light:#D1FAE5;
    --slate-color: #475569;
    --blue-color-dark: #1e3a8a;
    --blue-dark: #0056b3;
	--gradient-color: linear-gradient(to bottom, #1c4587 0%, #0d1e3d 100%);
	
	--card-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
	--border-radius: 12px;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Thin.woff2') format('woff2');
    font-weight: 100;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-ExtraLight.woff2') format('woff2');
    font-weight: 200;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Light.woff2') format('woff2');
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Regular.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Medium.woff2') format('woff2');
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Bold.woff2') format('woff2');
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Black.woff2') format('woff2');
    font-weight: 900;
    font-display: swap;
}

* {
	font-family: "Pretendard", sans-serif;
}

a {
	text-decoration: none;
	color: var(--dark-color);
}

li {
	list-style-type: none;
}

/* 전체 body 스타일  */
body {
	background-color: var(--white-color);
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* 홈 화면 레이아웃 */
.app-layout {
	display: flex;
	background-color: var(--background-color);
}

.main-content {
	width: 100vw;
		background-color: var(--white-color);
	padding-inline: 40px; /* 메인 콘텐츠 패딩 */
	padding-bottom: 40px;
}

/* 버튼 컴포넌트 */
.main-button {
	width: 100%;
	padding: 10px 15px;
	background-image: var(--gradient-color);
	color: #fff;
	font-size: 1.1rem;
	font-weight: 500;
	border: none;
	border-radius: 8px;
	cursor: pointer;`
	transition: background-color 0.3s;
	
	&:hover {
		background-color: var(--primary-hover);
	}
}

.cancel-button {
	background-color: var(--red-color); /* 빨강 */
    color: var(--white-color);
    border: none;
	padding: 7px 14px;
    border-radius: 7px;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    letter-spacing: 0.5px;
    transition: background-color 0.3s ease-out, box-shadow 0.3s ease-out, transform 0.1s ease-out;
 	 
 	&:hover {
    	background-color: var(--red-hover); 
        box-shadow: 0 8px 20px rgba(233, 30, 99, 0.5);
        transform: translateY(-3px); 
 	}
}

.edit-button {
    background-color: var(--blue-color);
    color: var(--white-color);
    border: none;
	padding: 7px 14px;
    border-radius: 7px;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    letter-spacing: 0.5px;
    transition: background-color 0.3s ease-out, box-shadow 0.3s ease-out, transform 0.1s ease-out;
 	 
 	&:hover {
    	background-color: var(--blue-dark); 
        box-shadow: 0 8px 20px rgba(0, 123, 255, 0.5);
        transform: translateY(-3px); 
 	}
}

.adminReturn-button {
    background-color: var(--blue-color);
    color: var(--white-color);
    border: none;
	padding: 7px 14px;
    border-radius: 7px;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    letter-spacing: 0.5px;
    transition: background-color 0.3s ease-out, box-shadow 0.3s ease-out, transform 0.1s ease-out;
 	 
 	&:hover {
    	background-color: var(--blue-dark); 
        box-shadow: 0 8px 20px rgba(0, 123, 255, 0.5);
        transform: translateY(-3px); 
 	}
}

.negative-button {
	background-color: var(--red-color); /* 빨강 */
	color: var(--white-color);
	border: none;
	padding: 6px 12px;
	border-radius: 6px;
	font-weight: 500;
	cursor: pointer;
	transition: background-color 0.3s;
 	 
 	&:hover {
 		background-color: var(--red-hover);
 	}
}

.detail-button {
	padding: 7px 14px;
	background-color: var(--primary-color);
	color: #fff;
	border-radius: 6px;
	cursor: pointer;
	text-align: center;
	transition: background-color 0.3s;
	
	&:hover {
		background-color: var(--primary-hover);
	}
}

.add-button {
	background-color: var(--primary-color);
	color: var(--white-color);
	border: none;
	padding: 6px 12px;
	border-radius: 6px;
	font-weight: 500;
	cursor: pointer;
	transition: background-color 0.3s;
	
	&:hover {
		background-color: var(--primary-hover);
	}	
}

.delay-button {
	padding: 7px 14px;
	background-color: var(--blue-color-dark);
	color: #fff;
	border-radius: 6px;
	cursor: pointer;
	text-align: center;
	transition: background-color 0.3s;
	border: 0;
	
	&:hover {
		background-color: var(--blue-color-dark);
	}	
}

.return-button {
	padding: 7px 14px;
	background-color: var(--slate-color);
	color: #fff;
	border-radius: 6px;
	cursor: pointer;
	text-align: center;
	transition: background-color 0.3s;
	border: 0;
	
	&:hover {
		background-color: var(--slate-color);
	}	
}

/* 상태 뱃지 스타일 (필요한 부분만 유지) */
.status-badge {
    display: inline-flex;
    align-items: center;
    padding: 4px 8px;
    border-radius: 9999px;
    font-weight: bold;
    font-size: 15px;
    color: var(--white-color) !important;
}

/* 상태별 색상 */
.status-approved { background-color: var(--green-color); }
.status-waited  { background-color: var(--gray-color); }
.status-rejected {background-color: var(--red-color);}
.status-used { background-color: var(--blue-color); }
.status-purple { background-color: var(--purple-color); }

/* 목록으로 버튼을 위한 */
.detail-header {
	display: flex;
	justify-content: space-between;
}

td a:hover{
	text-decoration: underline;
}

.not-able {
	cursor: not-allowed;
	opacity: 0.55;
}