@charset "UTF-8";
        
        .home-head span {
        	color: var(--gray-color);
        	font-size: 18px;
        }
        
        .dashboard-content {
        	padding-top: 40px;
        }
        
        .dashboard-container h1 {
            font-size: 26px;
            font-weight: 700;
            margin-top: 10px
        }

        .section-card h2 {
            font-size: 1.5rem;
            font-weight: 600;
            margin-bottom: 15px;
        }

        /* 대시보드 레이아웃 */
        .dashboard-container {
        	display: flex;
        	flex-direction: column;
        	gap: 20px;
            margin: 0 auto;
        }

        /* 공통 섹션 스타일 */
        .section-card {
            background-color: var(--white-color);
            padding: 20px;
            border-radius: 12px;
            box-shadow: var(--card-shadow); 
        }
        
        /* 자산 현황 */
        .metric-grid {
        	display: flex;
        	justify-content: space-between;
        }
        
        .metric-card {
        	background-color: var(--white-color);
        	width: 150px;
        	padding: 20px;
        	border-radius: var(--border-radius);
        	box-shadow: var(--card-shadow);
        	transition: transform 0.3s;
        	
        	&:hover {
        		transform: translateY(-3px);
        	}
        }
        
        .card-header {
        	display: flex;
        	justify-content: space-between;
        	align-items: center;
        }
        
        .card-title {
        	color: var(--gray-color);
        	margin: 0;
    		text-align: center;
        }
        
        .card-logo-box {
        	display: flex;
        	align-items: center;
        	justify-content: center;
        	width: 40px;
        	height: 40px;
        	border-radius: 50%;
        }
        
        .card-logo {
        	width: 25px;
        	height: 25px;
        	filter: invert(100%);
        }
        
        .card-value {
        	text-align: center;
        	font-weight: bold;
        	margin: 0;
        	font-size: 30px;
        }
        
        .back-green {
        	background-color: #A5D6A7;
        }
        
        .back-gray {
        	background-color: var(--gray-color);
        }
        
        .back-blue {
        	background-color: #80CBC4;
        }
        
        .back-purple {
        	background-color: #B39DDB;
        }
        
        .back-yellow {
        	background-color: #FFE0B2;
        }
        
        .back-red {
        	background-color: #FFAB91;
        }
        
        .border-green {
        	border-top: 5px solid #A5D6A7;
        }
        
        .border-yellow {
        	border-top: 5px solid #FFE0B2;
        }
        
        .border-purple {
        	border-top: 5px solid #B39DDB;
        }
        
        .border-blue {
        	border-top: 5px solid #80CBC4;
        }
        
        .border-red {
        	border-top: 5px solid #FFAB91;
        }
        
        .border-gray {
        	border-top: 5px solid var(--gray-color);
        }
        

        /* 테이블 스타일 */
        .data-table {
            width: 100%;
            border-collapse: separate;
            border-spacing: 0;
        }

        .data-table th, .data-table td {
            padding: 15px 10px;
            text-align: left;
            font-size: 15px;
            border-bottom: 1px solid var(--border-white); /* 밝은 경계선 */
        }

        .data-table th {
            font-weight: 500;
            white-space: nowrap;
        }

        .data-table tbody tr:last-child td {
            border-bottom: none;
        }

        /* 요청 관리 섹션 (2열 레이아웃) */
        .request-grid {
            display: grid;
            grid-template-columns: 1.5fr 1.5fr;
            gap: 15px;
        }
        
        /* 5. 차트 범례 및 버튼 스타일 */
        .chart-legend-wrapper {
            display: flex;
            align-items: center;
            justify-content: center;
            padding-top: 1rem;
        }
        
        .legend-item {
            display: flex;
            align-items: center;
            font-size: 0.875rem;
            color: #374151;
            margin-top: 0.5rem;
        }
        .legend-color {
            width: 0.75rem;
            height: 0.75rem;
            border-radius: 9999px;
            margin-right: 0.75rem;
            flex-shrink: 0;
        }
        
        /* 모바일 반응형 디자인 */
        @media (max-width: 768px) {
            body {
                padding: 20px;
            }
            .request-grid {
                grid-template-columns: 1fr;
                gap: 20px;
            }
            .data-table th, .data-table td {
                padding: 10px 8px;
            }
        }