@charset "UTF-8";

.header {
	display: flex;
	justify-content: flex-end;
	background-color: transparent;
	height: 5rem;
}

.header-list {
	display: flex;
	align-items: center;
	gap: 4px;
}

.header-profile-image {
    width: 35px;
    height: 35px;
	border-radius: 50%;
}

.header-bell {
	width: 25px;
	height: 25px;
	object-fit: contain;
}

.header-item-profile {
	display: flex;
	align-items: center;
	justify-content: center;
	padding : 0;
	width: 47px;
	height: 47px;
	border-radius: 50%; /* 원형으로 유지 */
	gap: 10px;
}

.header-item-profile:hover {
	background-color: rgba(100, 100, 100, 0.1); /* 연한 회색 틴트 사용 */
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05); /* 미묘한 그림자 유지 */
}

.logout-button {
	margin: 0;
    padding: 0;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    width: 25px;
    height: 25px;
}

.logout-form {
	margin: 0;
    padding: 0;
    width: 25px;
    height: 25px
}

.header-alarm {
	margin-top: 6px;
}