@charset "UTF-8";

.header {
	display: flex;
	justify-content: flex-end;
	background-color: transparent;
	height: 5rem;
}

.header-list {
	display: flex;
	align-items: center;
	gap: 23px;
}

.header-profile-image {
    width: 35px;
    height: 35px;
	border-radius: 50%;
	margin-top: 8px
}

.header-bell {
	width: 25px;
	height: 25px;
	object-fit: contain;
}

.header-item-profile {
	display: flex;
	align-items: center;
	gap: 10px;
}

.logout-button {
	margin: 0;
    padding: 0;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    width: 25px;
    height: 25px;
}

.logout-form {
	margin: 0;
    padding: 0;
    width: 25px;
    height: 25px
}

.header-alarm {
	margin-top: 6px;
}