@charset "UTF-8";
		.sidebar {
            width: 300px;
            background-color: var(--primary-color);
            color: var(--white-color);
            min-height: 100vh;
        }
        
        .menu-head {
        	display: flex;
        	align-items: center;
        	gap: 5px;
    		padding: 0 10px;
        }
        
        .menu-head h2 {
			font-size: 2rem;
    		font-weight: 700;
        }
        
        .menu-head-item {
            width: 60px;
            height: 60px;
        }
        
        .menu-profile {
        	padding-left: 10px;
        }
          
        .sidebar-logo-item {
            width: 25px;
            height: 25px;
            filter: invert(100%);
        }

        .menu-list {
            list-style: none;
            padding: 0;
            margin: 0;
        }
        
        .menu-list-separator {
            margin: 10px 0;
            border-top: 1px solid var(--gray-color-light);
        }
        
		.menu-arrow {
			display: flex;
			justify-content: space-between;
			align-items: center;
			cursor: pointer;
			transition: background-color 0.3s ease;
		}
       
        .menu-link {
            display: flex;
            align-items: center;
            gap: 7px;
            padding: 12px 20px;
            color: var(--white-color);
            text-decoration: none;
            font-weight: 500;
            cursor: pointer;
        }

        .menu-item a {
            display: flex;
            gap: 7px;
            align-items: center;
            padding: 12px 20px;
            color: var(--white-color);
            text-decoration: none;
            font-weight: 500;
        }

        .menu-item a:hover {
            background-color: var(--gray-color-light);
            color: var(--dark-color);
		}
		
		.menu-item a:hover .sidebar-logo-item {
		    filter: invert(0%);
		}
        
        .menu-item.active a {
            background-color: var(--gray-color-light);
            color: var(--dark-color);
        }
        
        .menu-item.active a .sidebar-logo-item {
        	filter: invert(0%);
        }
        
        .sidebar-arrow-item {
            width: 25px;
            height: 25px;
            filter: invert(100%);
            transition: transform 0.3s ease, filter 0.3s ease;
            padding-right: 10px;
        }
        
        /* 하위 메뉴 스타일 */
		.sub-menu-list {
		    list-style: none;
		    padding: 0;
		    margin: 0;
		    display: none; /* 기본적으로 숨김 */
		    background-color: var(--primary-color); /* 하위 메뉴 배경색 */
		}
		
		.menu-sub.active .sub-menu-list {
		    display: block; /* 활성화 시 보이게 함 */
		}
		
		.sub-menu-list li a {
		    padding-left: 50px; /* 들여쓰기 효과 */
		    font-size: 0.9em;
		}
		
		.menu-sub.active .sidebar-arrow-item {
			transform: rotate(180deg);
			margin-right: 10px;
		}